//- carousel caption
mixin carousel-caption(item)
  .carousel-caption
    unless !item.h1
      h1 #{item.h1}
    unless !item.p
      p #{item.p}
    unless !item.button
      p
        a.btn.btn-lg.btn-primary(href=item.button.url role="button") #{item.button.caption}

//- carousel
mixin carousel(id,items)
  .carousel.slide.carousel-dark(id="carousel-" + id ,data-bs-ride="carousel")
    //- Indicators
    .carousel-indicators
      each item,index in items
        if(index === 0)
          button.active(type="button", data-bs-target="#carousel-" + id, data-bs-slide-to=index, aria-current="true", aria-label="Slide " + (index + 1))
        else
          button(type="button", data-bs-target="#carousel-" + id, data-bs-slide-to=index, aria-label="Slide " + (index + 1))


    //- Wrapper for slides
    .carousel-inner()
      each item,index in items
        if(index === 0)
          .carousel-item.active
            .containter.text-center
              h5
                a(href=item.h target='_blank'  rel="noopener noreferrer" title=item.p )=item.p
              .text-black=item.d
              img.img-fluid(src=item.image title=item.h)
              +carousel-caption(item)
        else
          .carousel-item
            .containter.text-center
              h5
                a(href=item.h  target='_blank'  rel="noopener noreferrer" title=item.p )=item.p
              .text-black=item.d
              img.img-fluid(src=item.image title=item.h)
              +carousel-caption(item)

    //-  Controls
    button.carousel-control-prev(data-bs-target="#carousel-" + id, data-bs-slide="prev", type="button")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.visualy-hidden Previous
    button.carousel-control-next(data-bs-target="#carousel-" + id, data-bs-slide="next", type="button")
      span.carousel-control-next-icon(aria-hidden="true")
      span.visualy-hidden Next

+carousel("Projects",[
  {image:"assets/img/frogsfolly.png",
    p:"Frogsfolly",
    d:" My first website, setup to share photos with my family but is now a 'Kitchen Sink' of demos and test ideas. The site is built with  Web Project Mechanics CMS.",
    h:"https://frogsfolly.com"},
  {image:"assets/img/travelfrogsfolly.png",
    p:"Travel Frogsfolly",
    d:"A website with places we have traveld with a few pictures and descriptions of the highlights. The site is built with  Web Project Mechanics CMS",
    h:"https://travel.frogsfolly.com"},
    {image:"assets/img/jmshawminerals.jpg",
    p:"JM Shaw Minerals",
    d:"A website for a collector of fine gemstones.  Uses Web Project Mechanics CMS and some custom code for tracking each item in the collection.",
    h:"https://jmshawminerals.com"},
    {image:"assets/img/controlorigins.jpg",
    p:"Control Origins",
    d:" A website for a a d.b.a. I have used on some independant contracting work that I have done with my brother and a few friends.  Uses HTML and CSS only to get a single page app feel.",
    h:"https://controlorigins.com"},
    {image:"assets/img/pmcontrolorigins.png",
    p:"Project Mechanics",
    d:"A website for a publishing articles on Project Management.  Uses Web Project Mechanics CMS.",
    h:"https://pm.controlorigins.com"},
    {image:"assets/img/dataanalysiscontrolorigins.png",
    p:"Data Analysis Demo",
    d:"A demo web application of what you can do with the .Net Framework and CSV files for data analysis.",
    h:"https://app.controlorigins.com/dataanalysis/"},
    {image:"assets/img/employeemvccrudcontrolorigins.png",
    p:"Net 7 Sample MVC CRUD",
    d:"A project to try out new approaches and technologies.  This started in Active Server Pages (ASP) but has evolved to use some of the latest features of AspNet version 7. The project is on Github.",
    h:"https://markhazletonsamplecrud.controlorigins.com/"},
    {image:"assets/img/asyncwebsamplecontrolorigins.png",
    p:"Net 7 Async Demo",
    d:"A demonstration of Asyc methods for Api and Web pages. Includes integration with Open Weather. Source is on Github github.com/markhazleton/asyncdemo ",
    h:"https://asyncdemoweb.azurewebsites.net"},
])
